@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
body {
  display: flex;
  justify-content: center;
  background-image: url('https://thumbs.dreamstime.com/b/pink-glitter-sparkle-black-background-place-your-text-151021570.jpg');
}
h1 {
  color: white;
  text-align: center;
  font-size: 90px;
  font-family: 'Pacifico', cursive;
}
span.h1 {
  color: #ff008f;
  font-size: 90px;
  font-family: 'Pacifico', cursive;
}
.start {
  margin-top: 70px;
}

.form-control {
  width: 250%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}
.btn.btn-primary.btn-lg {
  color: #ff008f;
  font-weight: bold;
  background-color: #1d1a1c;
  border-color: #ff008f;
}

#message {
  color: white;
  font-size: 50px;
  text-align: left;
  margin-top: 270px;
}

#tictactoe-board
{
  cursor: pointer;
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
  background-color: #1d1a1c;
  color: white;
  border: 20px solid #ff008f;
  border-radius: 10px;

	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#tictactoe-board > div
{
  border: 20px solid #ff008f;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.col-4 {
  height: 280px;
  margin-right: auto;

  max-width: 50%;
}
